button {
    border: none !important;
}

.product-shortcode.style-7 .product-label {
    top: 19px;
}

.swiper-wrapper {
    cursor: url(../../../assets/img/drag.png) 16 9, ew-resize;
}

.slider-product-preview {
    top: 55px;
    bottom: 55px;
}

.slider-product-preview>img {
    left: 60%;
}

.simple-article.light ul li::before {
    background-image: url(../../../assets/img/icon-21.png);
}

.slider-2-img {
    left: 40% !important;
}

.ProductShow-container {
    padding: 0 100px 0 30px !important;
}

.Related-ProductShow-container {
    padding: 0 150px !important;
}

.breadcrumbs {
    margin-left: 20px;
}

.flex {
    display: flex !important;
    justify-content: space-between !important;
    margin-top: -30px !important;
}

.button-size {
    width: 12vw;
}

.button-wrapper {
    display: block;
    overflow: hidden;
    border-radius: inherit;
    -webkit-border-radius: inherit;
    position: relative;
}
.SiteMap{
    margin-left: 3.5%;
    display: flex;
}
.Cart-image{
    width: 80px !important;
    height: auto;
}
.Cart-image img{
    width: 100%;
    height: auto;
}
.FirstBannerImage img{
    left: 65% !important;
}
.Slider-wrapper-next {
    display: flex !important;
    justify-content: center;
    align-items: center;
}
.nopadding, .nopadding > [class*="col"] {
    padding: 0 10px !important;
}
.col-sm-4 {
    width: 19.333% !important;
}
.product-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.side-padding{
    padding: 0 65px;
}
.margin-top{
    margin-top: 60px;
}
.height-button{
    padding: 4px 38px !important;
    border-radius: 900px !important;
    margin-left: 130px !important;
}
.product-button{
    background: none !important;
}
.ProductShow-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


  